<ul id="settings_list" class="dropdown-content">
  <li class="divider"></li>
  {% if request.user.is_authenticated %}
  <li><a href="{% url 'logout' %}">Logout</a></li>
  {% endif %}
</ul>
<nav>
  <div class="nav-wrapper black">
    <a href="#" data-target="slide-out" class="sidenav-trigger" style="display: block;"><i class="material-icons">menu</i></a>
    <a href="{% url 'main_dashboard' %}" class="base_header_logo z-depth-2 orange">GainSpend</a>
    <ul id="nav-mobile" class="right">
      <li>
        <a class="dropdown-trigger" href="#!" data-target="settings_list">
          {{ request.user.username }}<i class="material-icons right">account_circle</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-trigger").dropdown();
  });
</script>
