{% load static %}
<script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/materialize/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datatables/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'gainspend/base/base.js' %}"></script>
