{% extends "../gainspend/base/base_main.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block header %}{% endblock header %}

{% block navigation %}{% endblock navigation %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'gainspend/authentification/login.css' %}">
{% endblock stylesheets %}



{% block content %}
<div class="valign-wrapper login_background  grey darken-4">
  <div class="container row">
    <div class="card col s8 offset-s2">
      <div class="card-content">
        <h2 class="center-align">AprendeMétodos</h2>
        <span class="card-title">IniciarSesión</span>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn orange  darken-3">Ingresar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
