{% extends "gainspend/base/base_main.html" %}
{% load static %}

{% block title %}Registro de usuario{% endblock title %}

{% block header %}{% endblock header %}

{% block navigation %}{% endblock navigation %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'gainspend/authentification/login.css' %}">
{% endblock stylesheets %}


{% block content %}
<div class="valign-wrapper login_background  grey darken-4">
  <div class="container row">
    <div class="card col s8 offset-s2">
      <div class="card-content">
        <h2 class="center-align">AprendeMétodos</h2>
        <span class="card-title">Regístrate</span>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
          {% endfor %}
          <button type="submit" class="btn orange  darken-3">Crear cuenta</button>
          <a href="{% url 'login' %}">Iniciar sesión</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
