<div id="start_excercise_box" class="hide">
  <div class="row">
    <div class="col s12 m9">
      <table>
        <tbody>
          <td style="width:50px;">g(x) =</td>
          <td>
            <input id="valor_a0" class="number_answer" type="number" value=""><br>
          </td>
          <td>+</td>
          <td>
            <input id="valor_a1" class="number_answer" type="number" value=""><br>
          </td>
          <td style="font-size: 20px; font-weight: bold;">x</td>
          <td>+</td>
          <td>
            <input id="valor_a2" class="number_answer" type="number" value=""><br>
          </td>
          <td style="font-size: 20px; font-weight: bold;">x^2</td>
        </tbody>
      </table>
      <p>
        <label>
          <input id="no_tiene_solucion" type="checkbox" class="filled-in" />
          <span>No tiene solucion</span>
        </label>
      </p>
    </div>
    <div id="validar_respuesta" class="col s12 m3 btn btn-large green hoverable" style="margin-top:20px;">
      Validar respuesta
    </div>
  </div>
</div>
