<div id="start_excercise_box" class="hide">
  <div class="row">
    <div class="col s12 m9">
      x = <input id="valor_x" class="number_answer" type="number" value=""><br>
      y = <input id="valor_y" class="number_answer" type="number" value=""><br>
      z = <input id="valor_z" class="number_answer" type="number" value=""><br>
      <p>
        <label>
          <input id="no_tiene_solucion" type="checkbox" class="filled-in" />
          <span>No tiene solucion</span>
        </label>
      </p>
    </div>
    <div id="validar_respuesta" class="col s12 m3 btn btn-large green hoverable" style="margin-top:20px;">
      Validar respuesta
    </div>
  </div>
</div>
