{% extends "../base/base_main.html" %}
{% load humanize %}
{% block title %}Movement summary{% endblock title %}
{% block content_center %}

  <div class="card">
    <div class="card-content">
      <div class="card-title">
        {{ account.account }}
      </div>
      <div class="row">
        <table class="col s12 m8">
          <tbody>
            <tr>
              <td><strong>Total income</strong></td>
              <td class="green lighten-4">${{total_income|floatformat:2|intcomma }}</td>
            </tr>
            <tr>
              <td><strong>Total expenses</strong></td>
              <td class="red lighten-4">${{total_expenses|floatformat:2|intcomma}}</td>
            </tr>
          </tbody>
        </table>
        <table class="col s12 m4 z-depth-1 ">
          <tbody>
            <tr >
              <td class="center-align"><strong>Current capital</strong></td>
            </tr>
            <tr>
              <td class=" flow-text center-align"><p >${{current_capital|floatformat:2|intcomma }}</p ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Movements
      </div>
      <table class="display cell-border" width="100%" cellpadding="0" cellspacing="0" border="0" id="movements_datatable">
        <thead>
          <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Category</th>
            <th>Date</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>


<script type="text/javascript" language="javascript" class="init">
  $(document).ready(function() {
    var movements_datatable = $('#movements_datatable').dataTable( {
      "processing": true,
      "order": [],
      "lengthChange": false,
      "ajax": {
        "processing": true,
        "url": "{% url 'account_movement_data' account.account %}",
        "dataSrc": ""
      },
      "columnDefs": [ {
        "targets": 4,
        "width": "70px",
      },{
        "targets": 5,
        "width": "10px",
        "orderable": false,
        "render": function (data, type, full, meta) {
          cell_content = `
          <a href="/movement_detail/${data}/">
            <div class="btn blue">
              Edit
            </div>
          </a>`
          return cell_content
        }
      }],
      'rowCallback': function(row, data, index){
        console.log();
        if(data.fields.sign != "+"){
          $(row).find('td:eq(1)').css('color','red');
          $(row).find('td:eq(1)').css('font-weight','bold');
        } else {
          $(row).find('td:eq(1)').css('color','green');
          $(row).find('td:eq(1)').css('font-weight','bold');
        }
      },
      "columns": [
        { "data": "pk" },
        { "data": "fields.amount" },
        { "data": "fields.detail" },
        { "data": "fields.category" },
        { "data": "fields.date" },
        { "data": "pk" }
      ]
    } );
  });

 </script>

{% endblock content_center %}
