{% extends "../base/base_main.html" %}
{% load humanize %}
{% block title %}Accounts{% endblock title %}
{% block content_center %}

<div class="container">
  <div class="row card_margin">
    <div data-target="income_modal" class="modal-trigger waves-effect waves-light btn col s12 m4 green">
      Add account
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Accounts
      </div>
      <table class="display cell-border" width="100%" cellpadding="0" cellspacing="0" border="0" id="accounts_datatable">
        <thead>
          <tr>
            <th>Id</th>
            <th>Account</th>
            <th>Detail</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="income_modal" class="modal">
  <form id="accounts_form" action="account_register/" method="post">
    <div class="modal-content">
      <h4>Register account</h4>
      {% csrf_token %}
      {{accounts_form}}
    </div>
    <div class="modal-footer">
      <input type="submit" class=" waves-effect waves-green btn green lighten-1 white-text" value="Register">
    </div>
  </form>
</div>

<script type="text/javascript" language="javascript" class="init">
  $(document).ready(function() {
    var accounts_datatable = $('#accounts_datatable').dataTable( {
      "processing": true,
      "columnDefs": [ {
          "targets": 2,
          "width": "10px",
          "orderable": false,
          "render": function (data, type, full, meta) {
            cell_content = `
              <a href="{% url 'account_catalogue' %}${data}">
                <div class="btn blue">
                  Summary
                </div>
              </a>`
            return cell_content
          }
        }, {
          "targets": 3,
          "width": "10px",
          "orderable": false,
          "render": function (data, type, full, meta) {
            cell_content = `
            <form class="account_delete" method="post" action="/gainspend/account_catalogue/account_delete/${data}/" >
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit" class="btn red lighten-1">Delete</button>
            </form>`
            return cell_content
          }
      } ],
      "order": [],
      "searching": false ,
      "lengthChange": false,
      "ajax": {
        "processing": true,
        "url": "{% url 'account_data' %}",
        "dataSrc": ""
      },
      "columns": [
        { "data": "pk" },
        { "data": "fields.account" },
        { "data": "pk" },
        { "data": "pk" }
      ]
    } );

    general_modal = $('.modal')
    general_modal.modal()

    $('select').formSelect();

    $('#accounts_form').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!")  // sanity check
      account_register();
    } );

    function account_register() {
      console.log("create post is working!") // sanity check
      $.ajax({
        url : "account_register/", // the endpoint
        type : "POST", // http method
        data : {
          account : $('#id_account').val()
        }, // data sent with the post request
        // handle a successful response
        success : function(json) {
          $('#id_account').val('')
          $('#accounts_datatable').DataTable().ajax.reload();
          M.toast({html: json.result})
          general_modal.modal('close')
        },
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
          // alert("We have encountered an error! (" + errmsg +")")
          M.toast({html: json.result})
          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
      });
    };
  });

 </script>

{% endblock content_center %}
