{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{method.name}}{% endblock title %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'vendor/timer/timer.jquery.min.js' %}"></script>
{% endblock scripts %}

{% block content_center %}
<div class="container">
  <div class="preface_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">{{ method.name }}</h3>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-title" style="border-bottom:1px solid black;">
        <h5>Completa el ejercicio para progresar a la siguiente etapa del programa</h5>
      </div>
      <div class="excercise_content">
        <!-- Excercise elements Start -->
        {% include "gainspend/utilities/excercise_upper_elements.html" with user_method_form=user_method_form %}
        <!-- Excercise elements end -->
        <div id="problem_description" class="row">
          <div class="col offset-m3 m6">
            <table>
              <thead>
                <tr>
                  <th>x</th>
                  <th>f(x)</th>
                </tr>
              </thead>
              <tbody>
                {% for x_print, y_print in xy_print %}
                <tr>
                  <td>{{ x_print }}</td>
                  <td>{{ y_print }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- problem_description -->
      </div>
      {% include "gainspend/utilities/excercise_cubica_start_excercise_box.html" %}
    </div>
  </div>
</div>

<script type="text/javascript" language="javascript" class="init">
  $(document).ready(function() {
    //Conseguir Respuesta
    var excercise_answer_a0 = "{{ result_a0 }}";
    var excercise_answer_a1 = "{{ result_a1 }}";
    var excercise_answer_a2 = "{{ result_a2 }}";
    var excercise_answer_a3 = "{{ result_a3 }}";
    if (excercise_answer_a0 != "No hay solucion") {
      excercise_answer_a0 = Number(excercise_answer_a0);
      excercise_answer_a1 = Number(excercise_answer_a1);
      excercise_answer_a2 = Number(excercise_answer_a2);
      excercise_answer_a3 = Number(excercise_answer_a3);
    }
    console.log(excercise_answer_a0)
    console.log(excercise_answer_a1)
    console.log(excercise_answer_a2)
    console.log(excercise_answer_a3)
    //Validaciones y todo procesamiento
    {% include "gainspend/utilities/excercise_cubica_answer_script.html" %}
  });
</script>
{% endblock content_center %}
