{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}Program progress{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'gainspend/main_dashboard.css' %}">
{% endblock stylesheets %}

{% block content_center %}
<div class="container">
  <div class="dashboard_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">Progreso del programa</h3>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        <h4>Métodos y temas</h4>
      </div>
      <table class="progress_table">
        <tbody>
          {% for method in methods %}
          <tr>
            {% if method.is_subject %}
            <td><div class="center-align subject_circle green"></div></td>
            <td><h5>{{ method.name }}</h5></td>
            <td></td>
            {% else %}
            <td><div class="method_line grey"></div></td>
            <td>{{ method.name }}</td>
            <td><a href="/preface_{{ method.preface_name }}"><div class="btn dark-purple">Practicar</div></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript" language="javascript" class="init">

 </script>

{% endblock content_center %}
