{% extends "../base/base_main.html" %}

{% block title %}Resumen de movimientos{% endblock title %}
{% block content_center %}

<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Movimientos
      </div>
      <table class="display cell-border" width="100%" cellpadding="0" cellspacing="0" border="0" id="example">
        <thead>
          <tr>
            <th>Id</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Categoria</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript" language="javascript" class="init">
     $(document).ready(function() {
         $('#example').dataTable( {
             "processing": true,
             "ajax": {
                 "processing": true,
                 "url": "{% url 'movement_data' %}",
                 "dataSrc": ""
             },
             "columns": [
                     { "data": "pk" },
                     { "data": "fields.amount" },
                     { "data": "fields.detail" },
                     { "data": "fields.category" },
                     { "data": "fields.date" }
                 ]
         } );
     } );
 </script>

{% endblock content_center %}
