{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{method.name}}{% endblock title %}

{% block content_center %}
<div class="container">

  <div class="preface_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">Solución de ecuaciones no lineales</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title" style="border-bottom:1px solid black;">
        <h4>{{ method.name }}</h4>
      </div>

      <div class="preface_content">
        Método simple para obtener una aproximaciòn f(x)=0, consiste en graficar la funciòn y observar donde cruza el eje x. Este punto que representa el valor de f(x)=0 ofrece una aproximaciòn de la raìz.
        <p> <b> Ejemplo:</b></p>
        <img src ="{% static 'preface_images\GRA2.jpg' %}"width="180"/>
        <br><img src ="{% static 'preface_images\GRA4.jpg' %}"width="180"/>
        <img src ="{% static 'preface_images\GRA1.jpg' %}"width="420"/>
      </div>

      <div class="start_excercise_box">
        <div class="row">
          <div class="col s12 m9">
            <h5>Completa el ejercicio para progresar a la siguiente etapa del programa</h5>
          </div>
          <a href="/preface_{{ method.preface_name }}/excercise">
            <div class="col s12 m3 btn btn-large green" style="margin-top:20px;">
              Comenzar
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content_center %}
