{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{method.name}}{% endblock title %}

{% block content_center %}
<div class="container">

  <div class="preface_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">Solución de ecuaciones lineales</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title" style="border-bottom:1px solid black;">
        <h4>{{ method.name }}</h4>
      </div>

      <div class="preface_content">
        En este método se aplican varias operaciones de renglón, que son las siguientes:
        <br><br>1) Multiplicar toda la fila por una constante distinta de cero.
        <br>2) Sumar o restar un múltiplo de una ecuación a otra.
        <br>3) Intercambiar de posición dos ecuaciones.
        <br><br>Para facilitar el proceso, se forma una matriz aumentada que contiene solamente los coeficientes de las ecuaciones.
        <br><br>Al final del proceso, el sistema se reduce a una forma triangular, donde la última ecuación tiene la solución de la última incógnita.
        <br><br>Posteriormente, se aplica un proceso de sustitución hacia atrás para ir calculando progresivamente los valores de las otras incógnitas.
        <p><b>Ejemplo:</b></p>
        <img src ="{% static 'preface_images\EG1.jpg' %}"width="150"/>
        <br><img src ="{% static 'preface_images\EG2.jpg' %}"width="430"/>
        <br><img src ="{% static 'preface_images\EG3.jpg' %}"width="430"/>
        <br><img src ="{% static 'preface_images\EG4.jpg' %}"width="430"/>
        <br><img src ="{% static 'preface_images\EG5.jpg' %}"width="230"/>
        <br><img src ="{% static 'preface_images\EG6.jpg' %}"width="430"/>
        <br><img src ="{% static 'preface_images\EG7.jpg' %}"width="430"/>
      </div>

      <div class="start_excercise_box">
        <div class="row">
          <div class="col s12 m9">
            <h5>Completa el ejercicio para progresar a la siguiente etapa del programa</h5>
          </div>
          <a href="/preface_{{ method.preface_name }}/excercise">
            <div class="col s12 m3 btn btn-large green" style="margin-top:20px;">
              Comenzar
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content_center %}
