{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{method.name}}{% endblock title %}

{% block content_center %}
<div class="container">

  <div class="preface_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">Solución de ecuaciones no lineales</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title" style="border-bottom:1px solid black;">
        <h4>{{ method.name }}</h4>
      </div>

      <div class="preface_content">
        Consiste en un procedimiento que lleva la ecuación f (x) = 0.
        <br><br>La solución única es tener un valor inicial que sea "suficiente" cercano a la raíz.
        <br><br>Encuentra una raíz, siempre y cuando se conozca una estimación inicial para la raíz deseada.
        utiliza de forma interactiva las rectas tangentes que pasan por aproximaciones consecutivas de la raíz.
        <br><br>Requiere una buena estimación inicial, de lo contrario la solución iterativa puede divergir o converger a una solución irrelevante.
        <p>La razón de converaencia iterativa es alta. Cuando funciona el métdo.</p>
        <img src ="{% static 'preface_images\NR1.jpg' %}"width="220"/>
        <br><img src ="{% static 'preface_images\NR2.jpg' %}"width="150"/>
        <br><br> X inicial puede ser "0" o un valor cercano a la raíz.
        <br><br> El margen de error es igual a "0" cero.
        <p><b>Ejemplo:</b>
        <br> Encuentre la raíz real de la ecuación</p>
        <img src ="{% static 'preface_images\NR5.jpg' %}"width="140"/>
        <br><img src ="{% static 'preface_images\NR4.jpg' %}"width="160"/>
        <br><img src ="{% static 'preface_images\NR3.jpg' %}"width="500"/>
      </div>

      <div class="start_excercise_box">
        <div class="row">
          <div class="col s12 m9">
            <h5>Completa el ejercicio para progresar a la siguiente etapa del programa</h5>
          </div>
          <a href="/preface_{{ method.preface_name }}/excercise">
            <div class="col s12 m3 btn btn-large green" style="margin-top:20px;">
              Comenzar
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content_center %}
