{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{method.name}}{% endblock title %}

{% block content_center %}
<div class="container">

  <div class="preface_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">Interpolación</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title" style="border-bottom:1px solid black;">
        <h4>{{ method.name }}</h4>
      </div>

      <div class="preface_content">
        <p>
          Las abscisas de los datos tienen igual separación con un tamaño de intervalo h, los puntos se denotan por (xi, fi).
          <br> Para evaluar una formula de interpolacion de Newton hacia Adelante son necesarios:
          <br> 1. Tablas de coeficiente hacia adelante.
          <br> 2. Coeficientes binomiales.
          <p> Diferencia hacia adelante de orden:</p>
          <img src ="{% static 'preface_images\NAD1.jpg' %}"/>
          <br>
          <img src ="{% static 'preface_images\NAD2.jpg' %}"/>
          <p>Tablas de diferencias</p>
          <img src ="{% static 'preface_images\NAD3.jpg' %}"/>
          <br> <br> Columna:
          <br><br> 1era. Ìndice de los datos.
          <br> 2nda. Ordenadas de los datos.
          <br> 3ra. Lista de las diferencias de primer orden.
          <br> Caluladas a partir de la segunda columna.
          <br> 4ta.Diferencias de 2° orden calculadas a partir de la columna anterior.
          <br> <br> Cada renglon proporciona un conjunto de diferencias hacia adelante de los puntos correspondientes.
        </p> - Tiene intervalos iguales
        <p>- Intervalos uniformes</p>
        <img src ="{% static 'preface_images\NAD4.jpg' %}"/>
        <br> <br> ∆0 f(x1) la primera diferencia de los puntos,  partir de  ella se obtiene todos los demas.
        <p>El valor inferior - el valor superior de acuerdo a la cantidad de puntos.</p>
        <img src ="{% static 'preface_images\NAD6.jpg' %}"/>
        <br> <br> Factor binomial "s"
        <br> <br> Es una coordenada local.
        <br> <br> Siempre positivo (izquierda a derecha).
        <br> <br> Si no lo es se invierten los valores de "x" y "y" (derecha a izquierda)
        <p>Los coeficiente binomiales estan dados por:</p>
        <img src ="{% static 'preface_images\NAD7.jpg' %}"/>
        <br>
        <img src ="{% static 'preface_images\NAD8.jpg' %}"/>
        <br> <br> <b>Nota. Obtener "h" y ver si es uniforme; si lo es se resuelve por el metodo de Newton hacia Atras o Lagrange. </b>
        <br><br>
        <b>Ejemplo:</b>
      </p>
      <p> Obtener g(x) para x = 3</p>
      <img src ="{% static 'preface_images\NAD9.jpg' %}" width="160"/>
      <br>
      <img src ="{% static 'preface_images\NAD10.jpg' %}" width="210"/>
      <img src ="{% static 'preface_images\NAD12.jpg' %}" width="170"/>
      <br>
      <img src ="{% static 'preface_images\NAD11.jpg' %}" width="410"/>
      <br>
      <img src ="{% static 'preface_images\NAD14.jpg' %}" width="170"/>
      <img src ="{% static 'preface_images\NAD15.jpg' %}" width="130"/>
      <br>
      <img src ="{% static 'preface_images\NAD16.jpg' %}" width="320"/>
      <br>
      <img src ="{% static 'preface_images\NAD17.jpg' %}" width="480"/>
      <br>
      <img src ="{% static 'preface_images\NAD18.jpg' %}" width="160"/>
      </div>

      <div class="start_excercise_box">
        <div class="row">
          <div class="col s12 m9">
            <h5>Completa el ejercicio para progresar a la siguiente etapa del programa</h5>
          </div>
          <a href="/preface_{{ method.preface_name }}/excercise">
            <div class="col s12 m3 btn btn-large green" style="margin-top:20px;">
              Comenzar
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content_center %}
