{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{method.name}}{% endblock title %}

{% block content_center %}
<div class="container">

  <div class="preface_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">Solución de ecuaciones no lineales</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title" style="border-bottom:1px solid black;">
        <h4>{{ method.name }}</h4>
      </div>

      <div class="preface_content">
        Se basa en una visualización gráfica. Si f (b) está mucho más cercana a cero que
        fia), es logico que la raiz se encuentre más cerca de "b" que dé "a
        <br><br> Este método de alternativo aprovecha esta visualización gráfica y consiste en unir
        (b) y f(a) con una linea recta.
        <p> La intersección de esta linea con el eje de las x representa una mejor aproximacion de la raiz.</p>
        <img src ="{% static 'preface_images\FPR1.jpg' %}"width="220"/>
        <p> Usando triángulos semejantes la intersección de la linea recta con el eje x  y despejando x;</p>
        <img src ="{% static 'preface_images\FPR2.jpg' %}"width="140"/>
        <p> Tiene un punto fijo que es" b" por lo tanto también lo es f(b)</p>
        <img src ="{% static 'preface_images\FPR3.jpg' %}"width="220"/>
        <p><b>Ejemplo:</b>
        <br> Encuentre la raíz para</p>
        <img src ="{% static 'preface_images\FPR4.jpg' %}"width="120"/>
        <br><img src ="{% static 'preface_images\FPR5.jpg' %}"width="480"/>
        <br><img src ="{% static 'preface_images\FPR6.jpg' %}"width="90"/>
        <br><img src ="{% static 'preface_images\FPR7.jpg' %}"width="180"/>
      </div>

      <div class="start_excercise_box">
        <div class="row">
          <div class="col s12 m9">
            <h5>Completa el ejercicio para progresar a la siguiente etapa del programa</h5>
          </div>
          <a href="/preface_{{ method.preface_name }}/excercise">
            <div class="col s12 m3 btn btn-large green" style="margin-top:20px;">
              Comenzar
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content_center %}
