{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{method.name}}{% endblock title %}

{% block content_center %}
<div class="container">

  <div class="preface_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">Integración</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title" style="border-bottom:1px solid black;">
        <h4>{{ method.name }}</h4>
      </div>

      <div class="preface_content">
        Los métodos de integración numérica que se obtienen al integrar las fórmulas de interpolación de newton recién el nombre de fórmulas de Newton – Cotes.
        <br><br>La regla del trapecio o trapezoidal y las dos reglas de Simpson son casos de las fórmulas de newton – cotes, las cuales se dividen en formulas cerradas y abiertas
        <p>Las formulas abierta de Newton-Cotes se obtienen al extender la integración hasta un intervalo a la izquiera del primer dato y un intervalo a la derecha del último dato.</p>
        <img src ="{% static 'preface_images\NC2.jpg' %}"width="300"/>
        <br>Ventajas de las fórmulas
        <br><br>Utiliza puntos con igual operación. Se dispone de fórmulas abiertas y cerradas
        <br><br>Desventajas
        <p>Las fórmulas de orden superior no necesariamente son precisas</p>
        <br><img src ="{% static 'preface_images\NC4.jpg' %}"width="300"/>
        <p><b>Ejemplo:</b></p>
        <img src ="{% static 'preface_images\NC5.jpg' %}"width="210"/>
        <br><img src ="{% static 'preface_images\NC6.jpg' %}"width="390"/>
        <br><img src ="{% static 'preface_images\NC7.jpg' %}"width="480"/>
        <br><img src ="{% static 'preface_images\NC8.jpg' %}"width="80"/>
      </div>

      <div class="start_excercise_box">
        <div class="row">
          <div class="col s12 m9">
            <h5>Completa el ejercicio para progresar a la siguiente etapa del programa</h5>
          </div>
          <a href="/preface_{{ method.preface_name }}/excercise">
            <div class="col s12 m3 btn btn-large green" style="margin-top:20px;">
              Comenzar
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content_center %}
