{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{method.name}}{% endblock title %}

{% block content_center %}
<div class="container">

  <div class="preface_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">Interpolación</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title" style="border-bottom:1px solid black;">
        <h4>{{ method.name }}</h4>
      </div>

      <div class="preface_content">
        <p> La interpolacion lineal significa encotrar un valor intermedio entre dos o mas puntos base conocidos, los cuales se pueden aproximar mediante polinomios.
        </p>
        <p> Sea en el sistema de coordenadas de la grafica anterior, las ecuaciones f(x) y g(x) en cuyo espacio "a" y "b"se pueden interpolar determinados valores.
        </p>
        Consiste en unir 2 puntos con una linea recta.
        <br> <br> Es una aproximacion a la primera derivada de la funcion (gradiente).
        <p>
        	Se deduce del modelo de integracion llamdo regla del trapecio
        </p>
        	<img src ="{% static 'preface_images\IL1.jpg' %}"/>
        <p>
        	La notacion de g(x) designa que este es un polinomio de interpolacion de primer grado.
        </p>
        <img src ="{% static 'preface_images\IL2.jpg' %}"/>
        <br> <br> Este termino es una aproximacion en la diferencia dividida finita a la primera derivada.
        <br> <br> Es decir, cuanto menor sea el intervalo entre los datos, mejor sera la aproximacion.
        <p> Esto se debe a que conforme el intervalos disminuye una funcion continua estara mejor aproximada por una linea recta.
        </p>
        <img src ="{% static 'preface_images\IL3.jpg' %}"/>
        <p> Margen de error E </p>
        <img src ="{% static 'preface_images\IL4.jpg' %}"/>
        <p>
        <b>Ejemplo:</b>
        </p>
        Estimar el Ln de 8 mediante interpolacion lineal.
        <br><br> a) Primero realice el calculo entre Ln 7 y Ln 10
        <br><br> b) Despues desarrolle el procedimiento pero esta vez con intervalos menores de Ln 7 y Ln 9
        <br><br> Solucion.
        <p> a)
        <br><br> Ln 7 = 1.945910149
        <br> Ln 10 = 2.302585093
        <br> a = 7
        <br> b = 10
        <br> f(a) = Ln 7 = 1.945910149
        <br> f(b) = Ln 10 = 2.302585093
        <br> x = 8
        <br> Ln 8 = 2.079441542
        <br> f(x) = Ln 8 = 2.079441542
        </p>
        <img src ="{% static 'preface_images\IL5.jpg' %}"/>
        <br>
        <img src ="{% static 'preface_images\IL6.jpg' %}"/>
        <br>
        <img src ="{% static 'preface_images\IL7.jpg' %}"/>
        <br>
        <img src ="{% static 'preface_images\IL8.jpg' %}"/>
        <p> b)
        <br><br> Ln 7 = 1.945910149
        <br> Ln 9 = 2.1977224577
        <br> a = 7
        <br> b = 9
        <br> f(a) = Ln 7 = 1.945910149
        <br> f(b) = Ln 9 = 2.197224577
        <br> x = 8
        <br> Ln 8 = 2.079441542
        <br> f(x) = Ln 8 = 2.079441542
        </p>
        <img src ="{% static 'preface_images\IL9.jpg' %}"/>
        <br>
        <img src ="{% static 'preface_images\IL10.jpg' %}"/>
        <br>
        <img src ="{% static 'preface_images\IL11.jpg' %}"/>
        <br>
        <img src ="{% static 'preface_images\IL12.jpg' %}"/>
      </div>

      <div class="start_excercise_box">
        <div class="row">
          <div class="col s12 m9">
            <h5>Completa el ejercicio para progresar a la siguiente etapa del programa</h5>
          </div>
          <a href="/preface_{{ method.preface_name }}/excercise">
            <div class="col s12 m3 btn btn-large green" style="margin-top:20px;">
              Comenzar
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content_center %}
