{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{method.name}}{% endblock title %}

{% block content_center %}
<div class="container">

  <div class="preface_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">Integración</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title" style="border-bottom:1px solid black;">
        <h4>{{ method.name }}</h4>
      </div>

      <div class="preface_content">
        Resulta al realizar la integración de un polinomio de interpolación de 2° grado.
        <br><br>Es otra forma de obtener la estimación exacta de la integral usando polinomios de grado superior para la unión de puntos.
        <p>Consiste en considerar el área bajo una parábola que une puntos. Se puede aplicar a un numero par de intervalos.</p>
        <img src ="{% static 'preface_images\R13S1.jpg' %}"width="300"/>
        <br><img src ="{% static 'preface_images\R13S2.jpg' %}"width="350"/>
        <p><b>Ejemplo:</b></p>
        <img src ="{% static 'preface_images\R13S3.jpg' %}"width="420"/>
        <br><img src ="{% static 'preface_images\R13S4.jpg' %}"width="510"/>
        <br><img src ="{% static 'preface_images\R13S5.jpg' %}"width="510"/>
        <br><img src ="{% static 'preface_images\R13S6.jpg' %}"width="510"/>
        <br><img src ="{% static 'preface_images\R13S7.jpg' %}"width="130"/>
      </div>

      <div class="start_excercise_box">
        <div class="row">
          <div class="col s12 m9">
            <h5>Completa el ejercicio para progresar a la siguiente etapa del programa</h5>
          </div>
          <a href="/preface_{{ method.preface_name }}/excercise">
            <div class="col s12 m3 btn btn-large green" style="margin-top:20px;">
              Comenzar
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content_center %}
