{% extends "../base/base_main.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{method.name}}{% endblock title %}

{% block content_center %}
<div class="container">

  <div class="preface_title" style="background-image: url({% static 'images/32.png' %})">
    <div class="card-title">
      <h3 style ="margin:0px;">Solución de ecuaciones no lineales</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title" style="border-bottom:1px solid black;">
        <h4>{{ method.name }}</h4>
      </div>

      <div class="preface_content">
        Es un método abierto que emplea una fórmula para predecir la raíz.
        <br><br> Está fórmula puede desarrollarse con el método de punto fijo, llamado también sustitución sucesiva, interación de punto fijo o interación simple de punto fijo.
        <br><br> Sea la ecuación general f(×) = 0; de la cual se desea encontrar una raíz real.
        <p> 1) Consiste en transformar algebraicamente f (x) = 0 a la forma equivalente x g(x).</p>
        <img src ="{% static 'preface_images\PF1.jpg' %}"width="100"/>
        <br><img src ="{% static 'preface_images\PF2.jpg' %}"width="320"/>
        <br><br> 2) Una vez que se ha determinado una fórmula fórmula equivalente, hay que examinar una sola raíz, esta se puede hacer por observación directa de la ecuación.
        <br><br>Se denota el valor de exploración ó valor de incio como x0.
        <br><br>3) Encontrando x0 se evalúa g(x) en x0 denotándose el resultado de esta evaluación como x; esto es g (x0) = x1.
        <p> La utilidad de x = g(x) es proporcionar una fórmula para predecir un nuevo valor de x en función del valor anterior de laisma. De esta manera, dado un valor inicial para la raíz xi.
        <br><br> La ecuación x = g(x) se utiliza para obtener una nueva aproximación xi+1 = g (xi).</p>
        <img src ="{% static 'preface_images\PF3.jpg' %}"width="220"/>
        <br><br> Localizar la raíz de f(x) = e-x - x, la función se puede separar directamente y expresarse en forma xi+1 = g(xi).
        x i+1 = e-xi empezando con un valor inicial x0 = 0. Se aplica esta ecuación iterativa para calcular.
        <img src ="{% static 'preface_images\PF4.jpg' %}"width="420"/>
        <br><img src ="{% static 'preface_images\PF5.jpg' %}"width="320"/>
        <br><img src ="{% static 'preface_images\PF6.jpg' %}"width="150"/>
      </div>

      <div class="start_excercise_box">
        <div class="row">
          <div class="col s12 m9">
            <h5>Completa el ejercicio para progresar a la siguiente etapa del programa</h5>
          </div>
          <a href="/preface_{{ method.preface_name }}/excercise">
            <div class="col s12 m3 btn btn-large green" style="margin-top:20px;">
              Comenzar
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content_center %}
